<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <title>header</title>
</head>
<body>
    <header>
        <h1>Blogging Website</h1>
        <div class="options">
            <a href="/">Home</a>
            <a href="/new_blog">New</a>
            <a href="/view_others">Othes</a>
        </div>
    </header>
</body>
</html>