<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/new.css">
    <title>Create Your Own Blog</title>
</head>
<body style="margin: 0; height: 100vh;">
    <%- include('partials/header.ejs') %>
    <h1>Create your own blog</h1>
    <form action="/new_blog" method="POST" id="blogForm">
        <div class="ip">
            <input name="title" type="text" class="title" placeholder="Enter title" required>
            <input name="blog" type="text" class="blog" placeholder="Enter blog" required>
            <input name="author" type="text" class="author" placeholder="Enter author name" required>
            <button type="submit">Submit</button>
        </div>
    </form>
    <div class="footer">
        <%- include('partials/footer.ejs') %>
    </div>

    <script>
        document.getElementById("blogForm").addEventListener("submit", function(event) {
            alert("Your blog has been submitted!");

        });
    </script>
</body>
</html>
