.container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;  
}

.blog {
    position: relative; 
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);  
    padding: 10px;   
}
.blog div{
    margin: 2px;

}
.title{
    position: relative;
    left :0;
}
.author_name { 
    bottom: 0;
    right: 0;
}
