.ip{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

input{
    height: 18px;
    width: 60%;
    margin: 10px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease; 
}
input:focus {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);  /* Creates a shadow on focus */
}
.blog{
    height: 300px;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
button{
    height: 30px;

    background-color: white;

    cursor: pointer;
}
button:hover{
    transform: scale(1.1); 
}
